/* This is a CSS comment */
body {
    font-family: Arial, sans-serif;
    background-color: #afafdac9;
}

h1 {
    color: #000000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
}